#layout-header{
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: #2196f3;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo{
            p{
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .auth-links{
            ul{
                margin: 5% 5px;
                display: flex;
                list-style: none;
                li{
                    margin-right: 10px;
                }
            }
        }

        a{
            color: white;
            text-decoration: none;
        }

    }
}
.search-bar {
	width: 25vw !important;
}
.navbar-brand {
	background: -webkit-linear-gradient(0deg, #7700ff 0%, #ff0066 100%);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size:25px;
    padding:0px;
}
nav
{
    background-color: #1c1f22;
}