body {
    background: #F5F7FA,
  
  }
  
  .stat-val {
    font-size: 3em;
    padding-top: 20px;
    font-weight: bold;
  }
  
  .stat-key {
    font-size: 1.4em;
    font-weight: 200
  }
  
  .section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
    border-left: 1px dotted rgba(0, 0, 0, .2);
  }
  
  .container.profile {
    margin-top: 1%;
  }
  
  .control.is-pulled-left span.select {
    margin-right: 5px;
    border-radius: 2px;
  }
  
  .modal-card .content h1 {
    padding: 40px 10px 10px;
    border-bottom: 1px solid #dadada
  }
  
  .container.profile .profile-options .tabs ul li.link a {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #F1F1F1;
  }
  input{
    border: 0px solid transparent;
    display: block;
    outline: none;
    border-bottom: 2px solid black;
    font: size 10px;;
    letter-spacing: 2px;
    line-height: normal;
    margin: 12px;
    background-color: #F1F1F1;
    font-family:'Poppins',sans-serif ;
    box-shadow: 0 5px 30px rgba(22,89,233);
  }
  #cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
.container .c1 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container .c1 img {
  width: 50%;
  border-radius: 50%;
  box-shadow:0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4) ;
  object-fit: cover;
  cursor: pointer;
  filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
  max-width: 200px;
  padding: 20px;
}
.pop{
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.lol{
  width: 45rem;
  height: 15rem;
  font-size: 1.4rem;
  align-items: center;
  text-align: center;

}
button:hover{
transition:all 2s ;

}
